<div ng-controller="DashboardCtrl as ctrl" ng-cloak>
    <h3>Choose your payment gateway services</h3>

    <table>
        <tr ng-repeat="paymentGatewayService in ctrl.paymentGatewayServices">
            <td class="col-md-8">
                <md-checkbox ng-change="ctrl.updateSubscription(paymentGatewayService)" ng-model="paymentGatewayService.subscribed" ng-true-value="1"
                ng-false-value="0">{{ paymentGatewayService.name }}</md-checkbox>
            </td>
            <td  class="col-md-2">
                <input type="number" ng-model="paymentGatewayService.displayOrder" step="1" min="1" max="{{ctrl.paymentGatewayServices.length}}">
            </td>
        </tr>
    </table>
    
</div>