<h2>Make Payment</h2>
<div ng-controller="MakePaymentCtrl as ctrl">
    <div class="md-actions" layout="row">
        <md-button class="md-raised md-primary" ng-href="#/dashboard">
            <md-tooltip>Back to dashboard</md-tooltip>
            Back to Dashboard
        </md-button>
    </div>

    <md-list ng-cloak>
        <md-subheader class="md-no-sticky">Choose Payment Service to pay</md-subheader>
        <md-list-item ng-repeat="paymentService in ctrl.allPaymentServices">
            <md-button ng-click="ctrl.makePayment($index)">{{ paymentService.name }}</md-button>
        </md-list-item>
        <md-divider></md-divider>
    </md-list>
    <div id="payuForm"></div>
</div>
